<?xml version='1.0' encoding='utf-8'?>
<plugin id="wonderpush-cordova-sdk-fcm" version="1.0.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WonderPush FCM support</name>
  <description>Advanced push notification service for mobile applications and Websites. High volume, fast delivery and full-featured starting €1/month. Firebase compatibility module.</description>
  <author>WonderPush</author>
  <keywords>wonderpush,push,notification,notifications,push notification,push notifications,gcm,fcm,android,ios</keywords>
  <license>Apache-2.0</license>
  <engines>
    <engine name="cordova-android" version=">=8.0.0" />
  </engines>
  <platform name="android">
    <preference name="SENDER_ID" default="default" />
    <framework src="com.wonderpush:wonderpush-android-sdk-fcm:1.0.6" />
    <framework src="build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
