<?xml version='1.0' encoding='utf-8'?>
<plugin id="wonderpush-cordova-sdk" version="3.2.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WonderPush</name>
  <description>Advanced push notification service for mobile applications and Websites. High volume, fast delivery and full-featured starting €1/month.</description>
  <author>WonderPush</author>
  <keywords>wonderpush,push,notification,notifications,push notification,push notifications,apn,apns,gcm,fcm,android,ios</keywords>
  <license>Apache-2.0</license>
  <engines>
    <engine name="cordova-android" version=">=8.0.0" />
    <engine name="cordova-ios" version=">=5.0.0" />
  </engines>
  <js-module name="WonderPush" src="www/WonderPush.js">
    <clobbers target="cordova.plugins.WonderPush" />
    <clobbers target="plugins.WonderPush" />
    <clobbers target="WonderPush" />
  </js-module>
  <hook type="after_prepare" src="src/ios/hooks/addNotificationServiceExtension.js" />
  <hook type="after_plugin_add" src="src/ios/hooks/addNotificationServiceExtension.js" />
  <hook type="before_plugin_rm" src="src/ios/hooks/removeNotificationServiceExtension.js" />
  <platform name="android">
    <preference name="CLIENT_ID" />
    <preference name="CLIENT_SECRET" />
    <preference name="LOGGING" default="false" />
    <preference name="AUTO_INIT" default="true" />
    <preference name="REQUIRES_USER_CONSENT" default="false" />

    <framework src="com.wonderpush:wonderpush-android-sdk:4.3.5" />
    <framework src="androidx.localbroadcastmanager:localbroadcastmanager:1.0.0" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.wonderpush.sdk.delegateClass" android:value="com.wonderpush.sdk.cordova.Delegate" />
    </config-file>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WonderPushPlugin">
        <param name="android-package" value="com.wonderpush.sdk.cordova.WonderPushPlugin" />
      </feature>
    </config-file>
    <framework src="build-extras.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/WonderPushPlugin.java" target-dir="src/com/wonderpush/sdk/cordova" />
    <source-file src="src/android/JSONUtil.java" target-dir="src/com/wonderpush/sdk/cordova" />
  </platform>
  <platform name="ios">
    <preference name="CLIENT_ID" />
    <preference name="CLIENT_SECRET" />
    <preference name="LOGGING" default="false" />
    <preference name="AUTO_INIT" default="true" />
    <preference name="REQUIRES_USER_CONSENT" default="false" />
    <config-file target="config.xml" parent="/*">
      <feature name="WonderPushPlugin">
        <param name="ios-package" value="WonderPushPlugin"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="WONDERPUSH_CLIENT_ID" value="$CLIENT_ID" />
      <preference name="WONDERPUSH_CLIENT_SECRET" value="$CLIENT_SECRET" />
      <preference name="WONDERPUSH_LOGGING" value="$LOGGING" />
      <preference name="WONDERPUSH_AUTO_INIT" value="$AUTO_INIT" />
      <preference name="WONDERPUSH_REQUIRES_USER_CONSENT" value="$REQUIRES_USER_CONSENT" />
    </config-file>
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="WebKit.framework" />
    <podspec>
      <config />
      <pods use-frameworks="true">
        <pod name="WonderPush" spec="4.1.6" />
      </pods>
    </podspec>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>
    <header-file src="src/ios/WonderPushPlugin.h" />
    <source-file src="src/ios/WonderPushPlugin.m" />
  </platform>
</plugin>
