<?xml version='1.0' encoding='utf-8'?>
<plugin id="wonderpush-cordova-sdk" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WonderPush</name>
  <js-module name="WonderPush" src="www/WonderPush.js">
    <clobbers target="cordova.plugins.WonderPush" />
  </js-module>
  <platform name="android">
    <preference name="CLIENT_ID" />
    <preference name="CLIENT_SECRET" />

    <framework src="com.wonderpush:wonderpush-android-sdk:1.2.2.0" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WonderPushPlugin">
        <param name="android-package" value="com.wonderpush.sdk.cordova.WonderPushPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="res/values/strings.xml">
      <string name="WP_CLIENT_ID">$CLIENT_ID</string>
      <string name="WP_CLIENT_SECRET">$CLIENT_SECRET</string>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
        xmlns:tools="http://schemas.android.com/tools"
        android:name="wonderpushInitializerClass" android:value="com.wonderpush.sdk.cordova.WonderPushInitializerImpl" tools:replace="android:value"
      />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/WonderPushPlugin.java" target-dir="src/com/wonderpush/sdk/cordova" />
    <source-file src="src/android/WonderPushInitializerImpl.java" target-dir="src/com/wonderpush/sdk/cordova" />
  </platform>
  <platform name="ios">
    <preference name="CLIENT_ID" />
    <preference name="CLIENT_SECRET" />
    <config-file target="config.xml" parent="/*">
      <feature name="WonderPushPlugin">
        <param name="ios-package" value="WonderPushPlugin"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="CLIENT_ID" value="$CLIENT_ID" />
      <preference name="CLIENT_SECRET" value="$CLIENT_SECRET" />
    </config-file>
    <framework src="SystemConfiguration.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="CoreBluetooth.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreMotion.framework" />
    <framework src="src/ios/WonderPush.framework" custom="true" embed="true" />
    <framework src="src/ios/WonderPushExtension.framework" custom="true" embed="true" />
    <framework src="src/ios/AFNetworking.framework" custom="true" embed="true" />
    <framework src="src/ios/OpenUDID.framework" custom="true" embed="true" />
    <framework src="src/ios/PKAlertController.framework" custom="true" embed="true" />
    <framework src="src/ios/TCMobileProvision.framework" custom="true" embed="true" />
    <framework src="src/ios/DTFoundation.framework" custom="true" embed="true" />
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>
    <header-file src="src/ios/WonderPushPlugin.h" />
    <source-file src="src/ios/WonderPushPlugin.m" />
  </platform>
</plugin>
